*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
nav{
    background-color: rgb(145,63,226);
}
.div1{
    display: flex;
    justify-content: center;
    gap: 500px;
    padding: 10px;
}
.list{
    list-style: none;
    display: flex;
    gap: 10px;
    position: relative;
    top: 10px;
}
.normal-link{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 400;
}
.Search{
    position: relative;
    top: 3px;
    height: 4vh;
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: rgb(22,21,29);
    color: rgb(129,133,144);
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}
.div2{
    background-color: rgb(34,34,34);
    width: 660px;
    margin: auto;
    color: white;
    margin-top: 10px;
}
.head3{
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 10px;
}
.div3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}
.font{
    font-size: 13px;
    font-weight: 500;
    color: rgb(153, 153, 153);
}
.normal-link1{
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: white;
}
.normal-link1:hover{
    color: rgb(145, 63, 226);
}
label{
    font-size: 10px;
    font-weight: 500;
    color: rgb(153, 153, 153);
    padding-top: 8px;
    padding-left: 5px;
}
main{
    background-color: rgb(34,34,34);
    width: 660px;
    margin: auto;
    margin-top: 10px;
    color: white;
}
.div4{
    display: flex;
    gap: 470px;
    padding-top: 10px;
}
.btn1{
    background-color: rgb(145,63,226);
    color: white;
    border: none;
    border-radius: 10px;
    width: 55px;
    height: 30px;
    font-size: 9px;
    font-weight: 400;
}
.fon{
    font-size: 12px;
    font-weight: 400;
    color: rgb(153, 153, 153);
}
.font1{
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: rgb(153, 153, 153);
}
.font1:hover{
    color: white;
    font-weight: bold;
}
.Body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    padding: 0px 10px;
}
.first{
    display: flex;
    gap: 10px;
}
.div6{
    background-color: rgb(145,63,226);
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.ul1{
    display: flex;
    gap: 20px;
    position: relative;
    top: 8px;
}
.normal-link2{
    text-decoration: none;
    color: white;
}
.normal-link2:hover{
    background-color: rgba(17, 24, 39, 0.4);
}
.div7{
    background-color: rgb(34,34,34);
    text-align: center;
    padding: 20px;
}
.button1{
    background-color: rgb(74,84,97);
    color: rgb(152,153,156);
    border: none;
    border-radius: 2px;
    width: 100px;
    height: 30px;
}
.button2{
    background-color: rgb(145,63,226);
    color: white;
    border: none;
    border-radius: 2px;
    width: 100px;
    height: 30px;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}
#menu-toggle {
    display: none;
}
#menu-toggle:checked + .hamburger + .navburger {
    display: flex;
    height: 100vh;
}
.navburger {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: rgb(0, 0, 0);
}
.navburger li {
    list-style: none;
    text-align: left;
    padding: 10px 0;
    width: 100%;
    font-weight: bold;
}
.navburger li a {
    display: block;
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: 600;
}


@media screen and (max-width:576px) {
    .hamburger {
        display: block;
        position: absolute;
        top: 0%;
        left: 83%;
    }
    .div1{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-left: -60px;
    }
    .list{
        display: none;
    }
    .Body{
        display: block;
    }
    main{
        background-color: rgb(34,34,34);
        width: 100%;
        padding: 0px 10px;
        margin: auto;
        margin-top: 10px;
        color: white;
    }
    .div4{
        display: flex;
        gap: 50%;
        padding-top: 10px;
    }
    .first{
        display: flex;
        gap: 10px;
        margin-top: 7px;
    }
    .div2{
        background-color: rgb(34,34,34);
        width: 100%;
        margin: auto;
        color: white;
    }
    .div3{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        padding: 10px;
        margin: 0px 20px;
    }
    #none{
        display: none;
    }
}